<!doctype html>

<html lang="pt-BR" ng-app="messenger">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Google IO Extended Chat">
    <meta name="application-name" content="Google IO Extended Chat">
    <meta name="description" content="Google IO Extended Chat">
    <meta name="msapplication-TileColor" content="#2196f3">
    <meta name="theme-color" content="#2196f3">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <title>Google IO Extended Chat</title>

    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="assets/stylesheets/main.css">
    <link rel="stylesheet" href="vendor/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/images/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="assets/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="assets/images/safari-pinned-tab.svg" color="#2196f3">
  </head>

  <body layout="column" ng-controller="MessengerController as messenger" ng-cloak>
    <md-toolbar class="background-toolbar md-tall" hide-xs></md-toolbar>

    <div class="container" layout="column" flex>
      <md-content class="main-content login layout-padding" md-whiteframe="2dp" ng-hide="messenger.currentUser">
        <form novalidate layout="column" ng-submit="messenger.currentUser = user">
          <md-input-container>
            <label>Digite o seu Twitter ou seu nome</label>
            <input type="text" ng-model="user" maxlength="50">

            <p class="hint">CI&amp;T e o Google não são responsáveis pelas mensagens postadas.</p>
          </md-input-container>

          <md-button type="submit" class="md-primary md-raised">Entrar</md-button>
        </form>
      </md-content>

      <md-content class="main-content flex" md-whiteframe="2dp" layout ng-show="messenger.currentUser">
        <div class="main-sidebar" flex="30" flex-xs="none">
          <md-toolbar class="inner-content-header" md-theme="toolbars" hide-xs>
            <div class="md-toolbar-tools">
              <span class="md-title" flex>Boards</span>
            </div>
          </md-toolbar>

          <md-list>
            <md-list-item md-ink-ripple ng-repeat="channel in messenger.channels" ng-class="{ 'md-active': messenger.currentChannel === channel.name }" ng-click="messenger.changeChannel(channel.name, channel.icon)">
              <md-icon class="md-avatar-icon">{{ channel.icon }}</md-icon>
              <p hide-xs>{{ channel.name }}</p>
            </md-list-item>
          </md-list>
        </div>

        <div flex layout="column">
          <md-toolbar class="inner-content-header" md-theme="toolbars">
            <div class="md-toolbar-tools">
              <md-list>
                <md-list-item>
                  <md-icon class="md-avatar-icon">{{ messenger.currentChannelIcon }}</md-icon>
                  <p>{{ messenger.currentChannel }}</p>
                </md-list-item>
              </md-list>
            </div>
          </md-toolbar>

          <div class="inner-feed" flex layout="column" layout-align="end start">
            <div class="scrollable">
              <div
                class="message"
                ng-class="{ 'self-start': message.from !== messenger.currentUser, 'self-end': message.from === messenger.currentUser }"
                ng-repeat="message in messenger.messages | filter: { channel: messenger.currentChannel } track by message.timestamp">
                <img src="https://twitter.com/{{ message.from }}/profile_image" alt="{{ message.from }}" ng-error="messenger.onImageError($event)" ng-show="message.from !== messenger.currentUser">
                <div class="message-content">
                  <span class="message-user" ng-show="message.from !== messenger.currentUser">{{ message.from }}</span>
                  <div class="message-text">{{ message.body }}</div>
                </div>
              </div>
            </div>
          </div>

          <md-toolbar class="inner-content-footer" md-theme="toolbars">
            <form novalidate class="md-toolbar-tools" ng-submit="messenger.sendMessage(messenger.input)">
              <md-input-container md-no-float flex>
                <input type="text" placeholder="Digite uma mensagem" ng-model="messenger.input" md-maxlength="140" maxlength="140">
              </md-input-container>

              <md-button type="submit" class="md-accent md-hue-2 md-icon-button">
                <md-icon>send</md-icon>
              </md-button>
            </form>
          </md-toolbar>
        </div>
      </md-content>
    </div>

    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-animate.min.js"></script>
    <script src="vendor/angular-aria.min.js"></script>
    <script src="vendor/ng-error.js"></script>
    <script src="vendor/angular-material.min.js"></script>
    <script src="assets/scripts/main.js"></script>
    <script src="/_ah/channel/jsapi"></script>
  </body>
</html>
